* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fraunces", serif;
  line-height: 1.6;
  background-color: #f6f4dc;
  background-blend-mode: lighten;
}

/* header */
header {
  background-color: #339551;
  color: #ecf0f1;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

#main-nav ul {
  display: flex;
  list-style: none;
}

#main-nav ul li {
  margin-left: 2rem;
}

#main-nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

#main-nav ul li a:hover {
  color: #e1dc53;
}

#menu-checkbox {
  display: none;
}

#menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ecf0f1;
  margin: 3px 0;
  transition: 0.4s;
}

/* footer */
footer {
  background-color: #339551;
  color: #ecf0f1;
  padding: 2rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-content {
  flex-basis: 30%;
  margin-bottom: 1rem;
}

.footer-content h3 {
  margin-bottom: 0.5rem;
}

.footer-content a {
  color: #f6f4dc;
  text-decoration: none;
  display: block;
  margin-bottom: 0.3rem;
}

.footer-content a:hover {
  color: #e1dc53;
}

.footer-bottom {
  text-align: center;
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid #f6f4dc;
}

main {
  margin-top: 60px;
  padding: 2rem;
}

/* payment method */
#grid-container {
  margin-top: 10px;
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  padding: 10px;
  border-radius: 10px;
}

.item {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.box {
  background-color: white;
  width: 200px;
  height: 64px;
  border-radius: 10px;
}
.mandiri {
  background-color: whitesmoke;
}
.svg-mandiri {
  display: flex;
  justify-content: center;
}
.bca {
  background-color: whitesmoke;
}
.svg-bca {
  display: flex;
  justify-content: center;
}
.mastercard {
  background-color: whitesmoke;
}
.svg-mastercard {
  display: flex;
  justify-content: center;
}
.qris {
  background-color: whitesmoke;
}
.svg-qris {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive Styles */

@media (max-width: 1024px) {
  #main-nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #339551;
  }

  #main-nav ul li {
    margin: 1rem 0;
    text-align: center;
  }

  #menu-toggle {
    display: flex;
  }

  #menu-checkbox:checked ~ ul {
    display: flex;
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 20px;
  }

  #main-nav ul {
    display: none;
  }

  #menu-toggle {
    display: flex;
  }

  .contact h1 {
    font-size: 40px;
  }

  .contact p {
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  .contact-info {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
  }

  .contact-form {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .footer-section {
    flex-basis: 100%;
    text-align: center;
  }
}
